* {
  font-family: Poppins;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #E5E5E5;
}

.section-background {
  width: 70%;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  border-radius: 30px 0px 0px 30px;
  color: white;
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.background-text {
  position: absolute;
  font-family: Roboto;
  bottom: 48px;
  left: 48px;
}

.section-background a {
  text-decoration: underline;
  color: white;
}

.section-login {
  width: 30%;
  margin: 0px;
  padding: 48px 50px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 0% 3% 3% 0%;
  background-color: #ffff;
}

.form-login {
  display: block;
  width: 100%;
}

.logo {
  display: flex;
  height: 68px;
  align-items: center;
  margin-bottom: 48px;
}

.vision-cap {
  margin-left: 12px;
  font-weight: 700;
}

.text-1 {
  margin-top: 10px;
  margin-bottom: 24px;
  font-weight: 600;
}

.form-input {
  display: block;
  margin-bottom: 16px;
  margin-top: 10px;
}

.form-input label {
  display: block;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 300;
}

.form-input input {
  display: block;
  width: 96%;
  padding: 8px 8px 8px 16px;
  border-style: none;
  font-family: Roboto;
  border-radius: 5px;
  background-color: #E5E5E5;
}

.link-underline a {
  text-decoration: none;
}

.forgot-password {
  margin-top: 4px;
  text-align: right;
  font-size: small;
}

.forgot-password a {
  color: #007AFF;
}

.sign-in {
  margin-top: 20px;
  padding: 10px 0px;
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: #8053FF;
  font-family: Roboto;
  text-align: center;
  color: white;
}

.hr-button {
  margin-bottom: 32px;
  margin-top: 32px;
  border: 1px solid #E5E5E5;
}

.google-in {
  padding: 10px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 3px;
  background-color: black;
  color: white;
  text-align: center;
}

.google-text {
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.sign-up {
  margin-top: 24px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.footer-login {
  position: absolute;
  width: 85%;
  bottom: 48px;
  text-align: center;
}

@media only screen and (max-width: 375px) {
  
  body {
    margin: 0px;
    padding: 0px;
    width: 375px;
    height: 812px;
  }

  .section-background {
    display: none;
  }
  
  .section-login {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    width: 343px;
    height: 592px;
    margin: 0px;
    padding: 35.619px 16px 184.381px 16px;
    border-radius: 20px;
    background-color: #ffff;
  }

  .text-1 {
    margin-top: 0px;
    margin-bottom: 24px;
    width: 100%;
    font-weight: 600;
  }

  .form-login {
    display: unset;
    width: auto;
  }

  .form-input {
    width: auto;
    margin-bottom: 12px;
  }

  .form-input label {
    display: none;
  }

  .form-input input {
    display: block;
    width: 319px;
    padding: 8px 8px 8px 16px;
    margin-bottom: 12px;
    border-style: none;
    font-family: Roboto;
    border-radius: 5px;
    background-color: #E5E5E5;
  }

  .forgot-password {
    margin-top: auto;
  }

  .sign-in {
    margin-top: 24px;
  }

  .hr-button {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid #E5E5E5;
  }  

  .google-in {
    padding: 10px 16px;
    margin-bottom: 24px;
  } 

  .logo {
    position: absolute;
    margin-top: 450px;
    margin-bottom: auto;
    display: flex;
    width: 343px;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .footer-login {
    position: unset;
    margin-top: 200px;
    width: 100%;
    height: 24px;
    text-align: center;
  }

}